---
import Layout from '../layouts/Layout.astro';
import ListOfBooks from './ListOfBooks.astro';
import Title from './Title.astro'
---

<Layout title="Libros">
    
    <main class="m-auto max-w-4xl">
        <Title/>
        <ListOfBooks/>

    </main>
</Layout>